<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Goods Store</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'detail_all' %}">Detail</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_article' %}">Add item</a>
        </li>

        <li class="galleries dropdown">
            <a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">
                Gallery views<b class="caret"></b>
            </a>
        <ul class="dropdown-menu">
            <li class="sub-page"><a href="{% url 'photologue:pl-gallery-archive' %}">Date views</a></li>
            <li class="sub-page"><a href="{% url 'photologue:gallery-list' %}">List views</a></li>
        </ul>
        </li>

        <li class="photos dropdown">
            <a data-target="#" href="" class="dropdown-toggle" data-toggle="dropdown">
                Photo views<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li class="sub-page"><a href="{% url 'photologue:pl-photo-archive' %}">Date views</a></li>
                <li class="sub-page"><a href="{% url 'photologue:photo-list' %}">List views</a></li>
            </ul>
        </li>

    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
